<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ykt2019servletDay04_1</display-name>
  
	<!-- 
		容器如何处理请求资源路径
		1.容器默认认为访问的是一个servlet,去查看web.xml,看是否有匹配的servlet
		有三种匹配方式:
			a.精确匹配
				<url-pattern>/abc.html</url-pattern>
			b.通配符匹配
			c.后缀匹配
		2.如果没有匹配到servlet,再去查找对应的位置文件
	 -->
	 <!-- a.精确匹配 -->
	 <!-- <servlet>
	 	<servlet-name>find</servlet-name>
	 	<servlet-class>web.FindUserServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>find</servlet-name>
	 	<url-pattern>/findUser.html</url-pattern>
	 </servlet-mapping> -->
	 
	 <!-- b.通配符匹配(有问题) -->
	 <!-- <servlet>
	 	<servlet-name>find</servlet-name>
	 	<servlet-class>web.FindUserServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>find</servlet-name>
	 	<url-pattern>/*</url-pattern>
	 </servlet-mapping> -->
	 
	 <!-- 
	 	c.后缀匹配
	 	如何让一个servlet处理多种请求
	 	该servlet采用后缀匹配
	  -->
	 <servlet>
	 	<servlet-name>find</servlet-name>
	 	<servlet-class>web.ActionServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>find</servlet-name>
	 	<url-pattern>*.do</url-pattern>
	 </servlet-mapping>
</web-app>